[Unit]
Description = Superset
After = network.target

[Service]
PermissionsStartOnly = true
PIDFile = /run/superset/superset.pid
User = {{usr}}
Group = {{usr}}
WorkingDirectory = /home/{{usr}}/superset
ExecStart = /home/{{usr}}/superset_setup.sh
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=30
StartLimitInterval=5
StartLimitBurst=10

[Install]
WantedBy=multi-user.target

